---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';

const title = `Contatti`;

---

<Layout meta={{ title }}>

    <Content
    isReversed
    isAfterContent
    items={[
    {
        title: 'Telefono',
        icon: 'tabler:phone',
        description: '0575 680354',
    },
    {
        title: 'Dove Siamo',
        icon: 'tabler:map-pin',
        description: 'Via della Consolazione 3, 52043 Castiglion Fiorentino (AR)',
    },
    {
        title: 'Mail',
        icon: 'tabler:mail',
        description: 'oreuropa@arline.net',    
    },
    ]}
    image={{
    src: import('~/assets/images/utensili.webp'),
    alt: 'Utensili tornio a fantina mobile',
    }}
    />

    <section class="flex items-center h-full p-16">
        <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
          <div class="max-w-md text-center">
            <a rel="noopener noreferrer" href="mailto:oreuropa@arline.net" class="btn ml-4">Scrivi subito cliccando qui</a>
            </div>
        </div>
    </section>

    <section class="flex items-center h-full p-16">
        <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
            <p style="max-width: 100%;" class=" dark:text-slate-400"> Obblighi informativi per le erogazioni pubbliche: gli aiuti di Stato e gli aiuti de minimis ricevuti dalla nostra impresa sono contenuti nel 
                Registro Nazionale degli Aiuti di Stato di cui all’art.52 della L.234/2012 a cui si rinvia e consultabili al seguente link:
                 <a href="https://www.rna.gov.it/RegistroNazionaleTrasparenza/faces/pages/TrasparenzaAiuto.jspx">RegistroNazionaleTrasparenza</a>
            </p>
        </div>
    </section>
</Layout>

